@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .folder-list-view td {
    @apply px-3 py-2 overflow-hidden whitespace-nowrap text-ellipsis cursor-default
  }

  .simple-input {
    @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent
  }

  .btn{
    @apply px-8 py-3 inline-block rounded-xl border text-sm font-medium focus:outline-none focus:ring active:bg-green-500
  }

  .btn-sm{
    @apply px-4 py-2
  }

  .btn-primary{
    @apply text-white bg-green-600 hover:bg-transparent hover:text-green-600 border-green-600
  }

  .btn-secondary{
    @apply text-green-600 bg-white hover:bg-green-600 hover:text-white border-green-600
  }

  .layout-lside{
    display: grid;
    height: 100vh;
    grid-template:  "head head head head" auto
                    "side main main main" 1fr/16rem 1fr 1fr 1fr;
    border: solid red 1px;
  }
  
  .layout-i-main{
    grid-area: main;
  }

  .layout-i-head{
    grid-area: head;
  }

  .layout-i-side{
    grid-area: side;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}